<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.rogatio.remarkable"
	status="INFO">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	
		<TextAppender name="TextAppender" />
	
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="TextAppender" />
		</Root>
	</Loggers>
</Configuration>